{% extends 'public/index.html' %}

{% block body %}

<form method="POST" action="/">
    {{ form.hidden_tag() }}
    <div class="field">
                {% if form.docnum.errors %}
                    {{ form.docnum(class="input is-medium is-danger") }}
                    <div class="invalid-feedback">
                        {% for error in form.docnum.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.docnum(class="input is-medium") }}
                {% endif %}
            <div class="field mt-5">
                {{ form.submit(class="button")}}
            </div>
    </div>
</form>

{% endblock %}